<div class="project" style="background-image: url(./.images/{HREF}.jpg);">
    <div class="project_detail">
        <ul>
            <h4><img src="./{HREF}/favicon.ico" width="12" height="12"> <a target="_blank" href="https://pristrom.by/project/{HREF}/">{HREF}</a></h4>
            <li><a target="_blank" href="https://pristrom.by/project/{HREF}/">Open STG</a> <span
                    {LIVE_DISABLED}>/ <span class="dot">&bull;</span> <a target="_blank" href="{LIVE_HREF}">Live</a>
                (<a
                    target="_blank"
                    href="https://developers.google.com/speed/pagespeed/insights/?url={LIVE_HREF}">PS</a>)</span>
            </li>
            <li {TRELLO_DISABLED}><a target="_blank" href="https://trello.com/b/{TRELLO}">Check Trello board</a></li>

            <br>
            <li><a target="_blank"
                   href="https://developers.google.com/speed/pagespeed/insights/?url=https://pristrom.by/project/{HREF}/">Check
                PageSpeed</a></li>
            <li><a target="_blank"
                   href="https://freetools.seobility.net/en/seocheck/check?url=https%3A%2F%2Fpristrom.by%2Fproject/{HREF}%2F&crawltype=1">Check
                SEO</a></li>
            <li>
                <a target="_blank"
                   href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fpristrom.by%2Fproject%2F{HREF}%2F&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en">Validate
                    HTML / CSS</a>
            </li>
        </ul>
        <span class="modTime"> Updated {MOD_TIME}</span>

    </div>
</div>