@addColor: #faaf52;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #777;
  font-family: 'Karla', sans-serif;
  font-size: 16px;

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;

    padding: 40px 20px;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-decoration: white;
        border: none;
      }

      &:active {
        border: none;
      }
    }

    span {
      color: @addColor;
    }

    h2 {
      text-transform: uppercase;
    }
  }

  main {
    background: url("../img/bg.jpg") repeat-x;
    background-size: cover;

    .wrapper {
      display: flex;
      height: 100vh;
      padding: 0 20px;
      @media (max-width: 1000px) {
        flex-direction: column;
        height: auto;
      }

      a {
        color: #777;
        border-left: @addColor 3px solid;
        padding: 5px;
      }
    }

    .photo {
      width: 50%;
      background: url("../img/me1.jpg") no-repeat 67%;
      @media (max-width: 1000px) {
        height: 300px;
        width: 300px;
        align-self: center;
        margin: 20px;
        border-radius: 50%;
        background-position: 80% 27%;
        background-size: 154%;
      }
    }

    .about {
      width: 50%;
      padding: 45px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-self: center;
      box-sizing: border-box;
      @media (max-width: 1000px) {
        width: 100%;
      }
      @media (max-width: 576px) {
        padding: 0;
      }

      h1 {
        font-size: 44px;
        font-weight: 400;
        color: black;
        text-transform: uppercase;
        @media (max-width: 576px) {
          font-size: 30px;
        }
      }

      p {
        font-size: 1.5rem;
        line-height: 37px;
        text-align: justify;
        @media (max-width: 576px) {
          font-size: 1rem;
        }
      }
    }
  }

  .stack {
    color: white;
    font-size: 20px;

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      img {
        max-width: 40px;
        margin: 15px;
      }
      .progress {
        opacity: 0.4;
      }
    }
  }

  .portfolio {
    background: url("../img/bg.jpg") repeat-x;
    background-size: cover;
    position: relative;

    h2 {
      text-transform: uppercase;
    }

    .projects {
      display: flex;
      flex-wrap: wrap;

      .slick-prev:before, .slick-next:before {
        color: #777;
      }

      img {
        margin: 10px;
      }

      .item {
        box-sizing: border-box;
        position: relative;
        width: 48%;
        margin: 10px;
        border-radius: 5px;

        @media (max-width: 1100px) {
          width: 100%;
          margin: 10px 0;
        }

        &:hover {
          .modal {
            transform: scale(1);
            opacity: 1;
          }

          img {
            opacity: 0.9;
          }
        }

        a {
          width: 100%;

          img {
            margin: 0;
            width: 100%;
            border-radius: 5px;
          }
        }
      }

      .modal {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: 0.7s ease-in-out;
        background-color: rgba(255, 255, 255, 1);
        opacity: 0;
        color: #777;
        padding: 30px;
        border-radius: 5px;
        transform: scale(0);
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);

        @media (max-width: 1000px) {
          padding: 10px;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
        }


        h5 {
          font-weight: 400;
          font-size: 25px;
          text-transform: uppercase;
          color: @addColor;
          margin: 10px 0;
          @media (max-width: 576px) {
            margin: 5px 0;
            font-size: 1rem;
          }
        }

        a {
          color: #777;
        }

        a:last-child {
          position: relative;
          padding: 10px;
          background: @addColor;
          border-radius: 5px;
          width: 30%;
          @media(max-width: 567px){
            width: 50%;
          }
        }

        }

      p:nth-child(2){
        @media(max-width: 567px){
          display: none;
        }
      }


      }
    }

  footer {
    background-image: linear-gradient(90deg, rgb(64, 66, 75), rgb(28, 29, 36));
    color: white;

    .wrapper {
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 567px) {
          flex-direction: column;
        }
      }
    }

    a {
      color: white;
      img{
        width: 40px;
        height: 40px;
      }
      @media (max-width: 567px) {
        margin-bottom: 15px;
      }
    }
  }
}

/* Google font latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v15/qkBbXvYC6trAT7RVLtw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v15/qkBbXvYC6trAT7RVLtw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
